:host {
    background-color: blue;
    color: white;
    display: flex;

    flex-direction: row;
    font-size: 16px;

    justify-content: flex-start;

    padding: 20px;

    &>.header-logo {
        padding: 10px 0;
    }

    &>.header-tabs {
        display: flex;
        flex-direction: row;
        justify-content: center;

        width: 75%;

        &>.tab {
            padding: 10px;
        }
    }
}
