<div>
    <h2>Who is Pete Clodi?</h2>
    <p>Why, I'm just your average Front End Software Developer from Chicago.</p>
    <h2>What does that mean?</h2>
    <p>It means I live in Chicago, I build front ends for web applications for a living and I do the same normal stuff as other people.</p>
    <h2>That can be all there is to you as a person?</h2>
    <p>True. I have been known to compete in endurance sports; travel to foreign lands by myself, where I don't speak or read the language and I've even combined those two points together on an eight day biking trip to Slovenia.</p>
    <h2>That doesn't sound like an <em>average</em> developer to me?</h2>
    <p>Possibly, but if you really think about everyone you know, developer or not, how many of them check only the boxes that would be called average?</p>
    <p>It's a thinker isn't it?</p>
</div>
