<h1>Code Samples</h1>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">Static Pages</div>
        <div class="panel-body">
            <a href="http://www.sears.com/shc/s/dap_10153_12605_DAP_ReadyForPickup">
                <img class="sears-ready-for-pickup" title="Sears: In-Vehicle Pickup" src="/images/sears-ready-for-pickup.png">
            </a>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            <p>
                View Custom Range Slider on
                <a href="https://github.com/peteclodi/angular-custom-range-slider" target="_blank">GitHub</a>
                or click below for the Demo
            </p>
        </div>
        <div class="panel-body">
            <a href="code/angular-custom-range-slider" target="_blank">
                <img class="range-slider" title="Demo" src="/images/slider.png">
            </a>
        </div>
    </div>
</div>
