<h1>Code Samples</h1>
<div class="row">
    <a href="http://xkcd.com/844/" class="col-md-6"><img src="http://imgs.xkcd.com/comics/good_code.png"></a>

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">Custom Range Slider</div>
                <div class="panel-body">
                    <a href="code/angular-custom-range-slider"><img src="/images/slider.png"></a>
                </div>
            </div>
        </div>
    </div>
</div>
